@charset "UTF-8";
#root {
  height: 100%; }

html {
  font-family: "微软雅黑"; }
  @media screen and (max-height: 1000px) {
    html {
      font-size: 26.7vw; } }
  @media screen and (min-height: 1000px) {
    html {
      font-size: 18.7vw; } }

@font-face {
  font-family: 'yofont';
  src: url("../../assets/icons/iconfont.ttf") format("woff"), url("../../assets/icons/iconfont.woff") format("truetype"); }
